body, p {
    margin: 0;
    padding: 0;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

main {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 600px;

    border-radius: 25px;
}

section {
    padding: 35px !important;
    border-radius: 25px;
}

#great-text {
    font-weight: 500;
    font-size: xx-large;
    margin-bottom: 10px;
    margin-top: 190px;
}

#results-section {
    background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    color: #FFFFFF;
    align-items: center;
    position: relative;
}

#result-score {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: blueviolet;
    border-radius: 100px;
    height: 150px;
    width: 150px;
    background: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));

    /* margin: 0; */
    position: absolute;
    top: 32%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    display: block;
}

.main-score {
    font-weight: 700;
    font-size: 55px;
}


.btn {
    background-color: hsl(224, 30%, 27%);
    color: #FFFFFF;
    border-radius: 50px;
    padding: 10px;
    margin-top: 25px;
}

.btn:hover {
    background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    color: #FFFFFF;
}

.summary-item {
    width: 100%;
    background-color: aqua;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 10px;
    font-weight: 700;
    color: rgb(0, 0, 0, 0.5)
}

.summary-item span{
    color: #000000;
}

.score {
    float: right;
}

img {
    display: inline;
}

.summary-detail {
    display: inline;
}

#summary-section p {
    font-weight: 700;
}

#summary-section h2, #your-result-text {
    font-size: large;
    font-weight: 700;
    margin-bottom: 25px;
}

#summary-reaction {
    background-color: hsla(0, 100%, 67%, 0.1);
}

#summary-memory {
    background-color: hsla(39, 100%, 56%, 0.1);
}

#summary-verbal {
    background-color: hsla(166, 100%, 37%, 0.1);
}

#summary-visual {
    background-color: hsla(234, 85%, 45%, 0.1);
}

#summary-reaction p {
    color: hsl(0, 100%, 67%);
}

#summary-memory p {
    color: hsl(39, 100%, 56%);
}

#summary-verbal p {
    color: hsl(166, 100%, 37%);
}

#summary-visual p {
    color: hsl(234, 85%, 45%);
}


.transparent-text {
    color: hsla(0, 0%, 100%, 0.7);
}
